{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if cateory %}
        {{category.description|truncatewords:155 }}
    {% else %}
        welcome to ABC store where you can buy diffrent items.....
    {% endif %}
{% endblock %}

{% block title %}
     {% if category %}
        {{category.name}} - ABC store
     {% else %}
       see our new collections -ABC stores
     {% endif %}
{% endblock %}


{% block content %}
<div class="container">
{% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx_auto">
            <p><a href="{% url 'shop:allprodcat' %}">Our Product Collections</a></p>
        </div>
            </div>
    </div>
    {% endif %}

<div class="mx_auto">
    {% if category %}

        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}} "style="height:550px; width:1200px;">
</div>
   <br>
<div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
    <img src="{% static 'img/banner.png' %}" alt="all product" style="height:550px; width:1200px;">
    </div>
<br>
<div>
    <h1 class="text-center my_title">our product collections</h1>
    <p class="text-justify">
      The costume Supplier Panel is the one-stop solution for all your online selling needs. From listing your products and managing inventory to processing orders and tracking payments, log in to the Supplier panel and manage your online business with ease. The process is simple, and to know more you can watch the below video.
We recommend you review the legal and policies section in the Supplier Panel to ensure your uploaded catalogues are in compliance with the policies of The costume.

You will need to upload your catalog to start selling on The costume. You will be able to upload your product catalog by logging on to the The costume Supplier Panel.

    </p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
         {% for product in products %}
    <div class="my_bottom_margin col-9 col-sm-12  col-md-4 col-lg-4">


            <div class="card text-center" style="width: 18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" style="width:200px; height:200px"> </a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}

       <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}

        </div>
         {% endif %}
</div>
    <br>
</div>
</div>
{% endblock %}
